@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Montserrat: "Montserrat", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --grootech__white: #ffffff;
  --grootech__text__white: #ffffff;
  --grootech__background__white: #ffffff;
  --grootech__background__gray: #f8f8f8;
  --grootech__input__focus: #eeeeee;
  --grootech__shadow: #ebebeb;
  --grootech__brown: #ce8339;
  --grootech__navigation__link__brown: #ce8339;
  --grootech__join__button__brown: #cd8136;
  --grootech__logo__text: #a55a28;
  --grootech__icon__brown: #a55a28;
  --grootech__text__brown: #a55a28;
  --grootech__text__brown__2: #ce8339;
  --grootech__text__brown__3: #cd8136;
  --grootech__button__brown: #ce8339;
  --grootech__gray: #848484;
  --grootech__icon__gray: #848484;
  --grootech__text__gray: #848484;
  --grootech__header__gray: #848484;
  --grootech__border__gray: #848484;
  --grootech__black: #000000;
  --grootech__text__black: #000000;
  --grootech__grey: #222222;
  --grootech__text__grey: #222222;
  --grootech__light__red: #ffe2e5;
  --grootech__red: #ff385c;
  --grootech__icon__red: #ff385c;
  --grootech-placement-max-height: calc(
    100vh - var(--navigation-bar-offset, 80px)
  ) !important;
  --grootech__footer__background: #f7f7f7;
  --navigation-bar-offset: 91px;
  --navigation-space: 25px;
  --scrollbar: #eeeeee;
  --dark: #240e01;
  --darker: #130801;
  --hover-light: #ce8339;
  --dashboard__header__height: 65px;
  --sidebar__width: 300px;
  --active__indicator: #06c43f;
  --dashboard__menu__text: #eeedfd;
  --sidebar__width--tablet: 250px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--Montserrat);
  background: var(--grootech__background__white);
}

::selection {
  color: var(--grootech__text__white);
  background: var(--grootech__brown);
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background: transparent;
  color: var(--grootech__text__brown__3) !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  -webkit-text-fill-color: var(--grootech__text__brown__3) !important;
}

.u-h-100 {
  height: 100%;
}

.btn {
  text-decoration: none;
  display: inline-block;
}

.btn--join {
  padding: var(--span-xs) var(--span-xl);
  background: var(--grootech__join__button__brown);
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__white);
  border-radius: 10px;
}

.btn--verify {
  margin-top: var(--span-s);
  padding: calc(var(--span-xs) + 5px) var(--span-s);
  background: var(--grootech__white);
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 20px;
  text-align: center;
  color: var(--grootech__text__black);
  border-radius: 5px;
}

.card {
  max-height: 100%;
}

.card--features {
  max-width: calc(100% / 4 - 30px);
  flex: 0 0 calc(100% / 4 - 30px);
  border-radius: 10px;
  background: var(--grootech__white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
}

@media only screen and (max-width: 1200px) {
  .card--features {
    max-width: calc(100% / 3 - 30px);
    flex: 0 0 calc(100% / 3 - 30px);
  }
}

.card--popular {
  max-width: calc(100% / 4 - 30px);
  flex: 0 0 calc(100% / 4 - 30px);
  border-radius: 10px;
  background: var(--grootech__white);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
}

@media only screen and (max-width: 1200px) {
  .card--popular {
    max-width: calc(100% / 3 - 30px);
    flex: 0 0 calc(100% / 3 - 30px);
  }
}

.card__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  height: 100%;
}

.card__image-box {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card__body {
  margin-top: var(--span-s);
  padding: 0 var(--span-s);
}

.card__header {
  display: flex;
  align-items: center;
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 25px;
  text-align: left;
  color: var(--grootech__text__gray);
}

.card__header .card__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--span-xs);
}

.card__paragraph {
  display: flex;
  align-items: center;
  margin-top: var(--span-xs);
  padding-bottom: var(--span-s);
}

.card__paragraph .card__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--span-xs);
}

.card__paragraph .card__text {
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 23px;
  text-align: left;
  color: var(--grootech__text__brown);
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.logo__image {
  margin-right: calc(var(--span-xs) + 5px);
  display: block;
  width: 48px;
  height: 48px;
}

.logo__text {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 3px);
  font-weight: var(--weight-xxlg);
  line-height: 33px;
  text-align: left;
  color: var(--grootech__logo__text);
}

.newsletter__form {
  margin-top: var(--span-m);
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  gap: 15px;
}

.newsletter__form label {
  display: none;
}

.newsletter__input {
  display: block;
  outline: none;
  width: 100%;
  border: none;
  background: var(--grootech__white);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__gray);
  padding: calc(var(--span-xs) + 5px) var(--span-m);
  border-radius: 10px;
}

.newsletter__input::-webkit-input-placeholder {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__gray);
}

.newsletter__button {
  cursor: pointer;
  padding: calc(var(--span-xs) + 5px) var(--span-m);
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: var(--grootech__button__brown);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: center;
  color: var(--grootech__text__white);
  border-radius: 15px;
}

.search {
  margin-top: calc(var(--span-2xl) + var(--span-s));
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.search__wrapper {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr 1fr;
  gap: 20px;
}

.search__box {
  display: flex;
  background: var(--grootech__white);
  border-radius: 10px;
  transition: all 300ms;
}

.search__box label {
  display: none;
}

.search__box:focus-within {
  background: var(--grootech__input__focus);
}

.search__input {
  background: transparent;
  outline: none;
  border: none;
  display: block;
  width: calc(100% - 52px);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__gray);
}

.search__input::-webkit-input-placeholder {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__gray);
}

.search__icon {
  padding: var(--span-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__icon svg {
  width: 24px;
  height: 24px;
  stroke: var(--grootech__icon__gray);
}

.search__button {
  cursor: pointer;
  padding: var(--span-s) var(--span-m);
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: var(--grootech__button__brown);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: center;
  color: var(--grootech__text__white);
  border-radius: 10px;
}

@media only screen and (min-width: 1800px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer {
  padding-top: calc(var(--span-2xl) + var(--span-xs));
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer__logo-image {
  margin-right: calc(var(--span-xs) + 5px);
  display: block;
  width: 48px;
  height: 48px;
}

.footer__logo-text {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 3px);
  font-weight: var(--weight-xxlg);
  line-height: 33px;
  text-align: left;
  color: var(--grootech__logo__text);
}

.footer__paragraph {
  margin-top: var(--span-xs);
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 20px;
  text-align: left;
  color: var(--grootech__text__gray);
  max-width: 360px;
}

.footer__header {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 4px);
  font-weight: var(--weight-xxlg);
  line-height: 30px;
  text-align: left;
  color: var(--grootech__text__brown);
}

.footer__list {
  list-style-type: none;
  margin-top: var(--span-xs);
}

.footer__item:not(:last-child) {
  margin-bottom: var(--span-xs);
}

.footer__link {
  text-decoration: none;
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 21px;
  text-align: left;
  color: var(--grootech__text__gray);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  margin-top: var(--span-l);
  padding-top: var(--span-xs);
  padding-bottom: var(--span-xs);
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 23px;
  text-align: center;
  color: var(--grootech__text__white);
  background: var(--grootech__text__brown);
}

.socials {
  margin-top: var(--span-m);
}

.socials__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: var(--span-s);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon svg {
  width: 18px;
  height: 18px;
}

.navigation {
  align-self: center;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation__item {
  padding: 0 var(--span-s);
}

.navigation__item:last-child {
  padding-right: 0;
  padding-left: var(--span-s);
}

.navigation__item:last-child {
  padding-right: 0;
  padding-left: var(--span-s);
}

.navigation__item:first-child {
  padding-left: 0;
  padding-right: var(--span-s);
}

.navigation__link {
  text-transform: capitalize;
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 25px;
  text-align: left;
  color: var(--grootech__navigation__link__brown);
  text-decoration: none;
  display: inline-block;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.dashboard__sidebar {
  background: var(--dark);
  height: 100%;
  position: fixed;
  width: var(--sidebar__width);
}

@media only screen and (max-width: 1140px) {
  .dashboard__sidebar {
    width: var(--sidebar__width--tablet);
  }
}

.dashboard__logo {
  height: var(--dashboard__header__height);
  background: var(--darker);
  display: flex;
  align-items: center;
  padding: 0 calc(var(--span-s) + 5px);
  justify-content: space-between;
}

.dashboard__link {
  text-decoration: none;
  display: flex;
}

.dashboard__link span svg {
  width: 24px;
  height: 24px;
}

.dashboard__text {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-xlg);
  line-height: 25px;
  text-align: left;
  color: var(--grootech__text__white);
  letter-spacing: 0.05em;
}

.dashboard__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__icon:hover svg {
  stroke: var(--hover-light);
}

.dashboard__icon svg {
  transition: all 300ms;
  stroke: var(--hover-light);
}

.dashboard__list {
  margin-top: var(--span-m);
  list-style-type: none;
}

.dashboard__link--flex {
  display: flex;
  gap: var(--span-s);
  align-items: center;
}

.dashboard__link--flex .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__link--flex .icon svg {
  width: 20px;
  height: 20px;
  stroke: #ffaf5f;
}

.dashboard__link--flex .text {
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 20px;
  text-align: left;
  color: var(--grootech__text__white);
  letter-spacing: -0.035em;
}

.dashboard__item {
  padding: var(--span-xs) calc(var(--span-s) + 5px);
  transition: all 300ms;
  cursor: pointer;
}

.dashboard__item:hover {
  background: var(--darker);
}

.dashboard__item--active {
  background: var(--darker);
}

.dashboard__view {
  position: relative;
  margin-left: var(--sidebar__width);
  flex-grow: 1;
}

@media only screen and (max-width: 1140px) {
  .dashboard__view {
    margin-left: var(--sidebar__width--tablet);
  }
}

.dashboard__header {
  position: fixed;
  top: 0;
  width: calc(100vw - var(--sidebar__width));
  z-index: 5;
  box-shadow: 0px 10px 30px 0px #523f6914;
}

@media only screen and (max-width: 1140px) {
  .dashboard__header {
    width: calc(100vw - var(--sidebar__width--tablet));
  }
}

.dashboard__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--span-xs) var(--span-m);
  background: var(--grootech__white);
  height: var(--dashboard__header__height);
}

.dashboard__page {
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--grootech__white);
  padding: var(--span-xs) var(--span-m);
  height: calc(var(--dashboard__header__height) - var(--span-s));
  display: flex;
  align-items: center;
}

.dashboard__heading {
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-xlg);
  line-height: 20px;
  text-align: left;
  color: var(--darker);
  border-right: 1px solid #eeee;
  padding-right: var(--span-s);
}

.dashboard__main {
  background: #f8f8f8;
  padding: var(--span-m);
  margin-top: calc(2 * var(--dashboard__header__height) - var(--span-s));
  min-height: calc( 100vh - 2 * var(--dashboard__header__height) - var(--span-s));
}

.dashboard__row {
  display: flex;
  gap: 30px;
}

.dashboard__card {
  background: var(--grootech__white);
  border-radius: 10px;
}

.dashboard__card--sm {
  flex: 0 0 calc((100% - 2 * var(--span-m)) / 3);
  box-shadow: 0px 0px 30px 0px #523f690d;
  padding: var(--span-s) var(--span-m);
}

.dashboard__card--brown {
  background: #f7d0a4;
}

.dashboard__card--red {
  background: var(--grootech__light__red);
}

.dashboard__card--xsm {
  padding: var(--span-s) calc(var(--span-xs) + 5px);
}

.dashboard__card--icon {
  width: 24px;
  height: 24px;
}

.dashboard__card--icon span svg {
  width: 24px;
  height: 24px;
  stroke: var(--grootech__icon__red);
}

.dashboard__card--body {
  margin-top: var(--span-xs);
}

.dashboard__card--body a {
  display: inline-block;
  text-decoration: none;
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-lg);
  line-height: 16px;
  text-align: left;
  color: var(--grootech__red);
}

.dashboard__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--span-s);
}

.dashboard__footer {
  padding: var(--span-xs) var(--span-m);
  height: calc(var(--dashboard__header__height) - var(--span-s));
  background: var(--grootech__white);
  position: fixed;
}

.nav {
  height: 36px;
}

.nav__details {
  position: relative;
  display: flex;
  gap: calc(var(--span-xs) + 5px);
  cursor: pointer;
}

.nav__header {
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-xlg);
  line-height: 20px;
  text-align: left;
  color: var(--darker);
}

.nav__paragraph {
  font-family: var(--Montserrat);
  font-size: var(--size-xs);
  font-weight: var(--weight-sm);
  line-height: 20px;
  text-align: right;
  color: var(--grootech__text__gray);
}

.nav__image-box {
  position: relative;
  width: 36px;
  height: 36px;
}

.nav__image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.nav__indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border: 1.5px solid var(--grootech__white);
  border-radius: 50%;
}

.nav__indicator--active {
  background: var(--active__indicator);
}

.actions {
  position: absolute;
  z-index: 3;
  width: 250px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  background: var(--grootech__white);
  cursor: default;
  border-radius: 10px;
  margin-top: var(--span-xs);
  top: 100%;
  right: 0;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
  pointer-events: all;
}

.actions--hidden {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
  pointer-events: none;
}

.actions__list {
  list-style-type: none;
}

.actions__item {
  transition: all 300ms;
}

.actions__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.actions__item:hover {
  background: #eeee;
}

.actions__item:nth-child(4) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.actions__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.actions__link {
  text-decoration: none;
  display: flex;
  gap: calc(var(--span-xs) + 5px);
  align-items: center;
  padding: var(--span-xs) var(--span-s);
}

.actions__link.unverified .text {
  color: #f64e60;
}

.actions__link.unverified .icon svg {
  stroke: #f64e60;
}

.actions__link .icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__link .icon svg {
  width: 18px;
  height: 18px;
  stroke: var(--grootech__black);
}

.actions__link .text {
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 20px;
  text-align: right;
  color: var(--grootech__black);
}
/*# sourceMappingURL=dashboard.css.map */