@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Montserrat: "Montserrat", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --grootech__logo__text: #a55a28;
  --grootech__white: #ffffff;
  --grootech__text__white: #ffffff;
  --grootech__navigation__link__brown: #ce8339;
  --grootech__join__button__brown: #cd8136;
  --grootech__gray: #848484;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--Montserrat);
}

.btn {
  text-decoration: none;
  display: inline-block;
}

.btn--join {
  padding: var(--span-xs) var(--span-xl);
  background: var(--grootech__join__button__brown);
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__white);
  border-radius: 10px;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
}

.search__box {
  display: flex;
}

.search__icon {
  padding: var(--span-s);
}

@media only screen and (min-width: 1800px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navigation {
  align-self: center;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation__item {
  padding: 0 var(--span-s);
}

.navigation__item:last-child {
  padding-right: 0;
  padding-left: var(--span-s);
}

.navigation__item:last-child {
  padding-right: 0;
  padding-left: var(--span-s);
}

.navigation__item:first-child {
  padding-left: 0;
  padding-right: var(--span-s);
}

.navigation__link {
  text-transform: capitalize;
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 25px;
  text-align: left;
  color: var(--grootech__navigation__link__brown);
  text-decoration: none;
  display: inline-block;
}

.header {
  padding: var(--span-s) 0;
  background: var(--grootech__white);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo-image {
  margin-right: calc(var(--span-xs) + 5px);
  display: block;
  width: 48px;
  height: 48px;
}

.header__logo-text {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 3px);
  font-weight: var(--weight-xxlg);
  line-height: 33px;
  text-align: left;
  color: var(--grootech__logo__text);
}

.section-intro {
  position: relative;
  background-image: url(../assets/images/grootech__banner.png);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.section-intro .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.intro {
  position: relative;
  padding: calc(2.5 * var(--span-2xl)) 0;
  z-index: 2;
}

.intro__header {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-2xl) + var(--size-xs));
  font-weight: var(--weight-xlg);
  line-height: 73px;
  text-align: center;
  color: var(--grootech__text__white);
}

.intro__heading {
  margin-top: var(--span-s);
  font-family: var(--Montserrat);
  font-size: var(--size-xl);
  font-weight: var(--weight-md);
  line-height: 43px;
  text-align: center;
  color: var(--grootech__text__white);
}

.section {
  padding: calc(2.5 * var(--span-2xl)) 0;
}
/*# sourceMappingURL=home.css.map */