@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Montserrat: "Montserrat", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --header__height: 80px;
  --search__height: 70px;
  --banner-image-height: 600px;
  --reviews__list__height: 550px;
  --tips-box-number: 5;
  --tips-and-updates-number: 6;
  --tabs-number: 4;
  --view__height: 150px;
  --navigation-bar-offset: 90px;
  --panel-width: 250px;
  --g-placement-max-height: calc(100vh - var(--header__height) + 40px);
  --black--fixed: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --g__white: #111111;
    --g__text__white: #111111;
    --g__background__white: #111111;
    --logo__text__gradient: #ffffff !important;
    --logo__brown--1: #ffffff;
    --logo__brown--2: #ffffff;
    --logo__white--1: #000000;
    --logo__white--2: #000000;
    --g__black: #ffffff;
    --header__fixed__shadow: 0 1px 12px rgba(255, 255, 255, 0.1);
    --image-preload: #ffffff;
    --footer__bg: #111111;
    --light-grey: #ffffff;
    --text__gradient: #ffffff !important;
    --text__gradient--white: #000000 !important;
    --testimonial__overlay: linear-gradient(
      to top,
      #111111,
      rgba(255, 255, 255, 0.01)
    );
    --overview__bg: var(--g__black);
    --overview__color: var(--g__white);
    --carousel-controls-bg: #222222;
    --carousel-controls-border: transparent;
    --header__fixed__box-shadow: 0 1px 12px rgba(27, 27, 27, 1);
    --review__text: rgba(255, 255, 255, 0.9);
    --dashboard__link--hover: #222222;
    --notification__header: #ffffff;
    --g__input__focus: #222;
    --g__white--fixed: #ffffff;
    --recent-search__bg: rgba(32, 32, 32, 1);
    --recent-search__btn: rgba(45, 45, 45, 1);
    --testimonial__figure: rgba(255, 255, 255, 1);
    --logo__text__gradient--white: #000000 !important;
    --bronze: #cd8136ff;
    --palette__brown__darker: #ffffff;
    --palette__brown__dark: #ffffff;
    --palette__brown__base: #ffffff;
    --palette__brown__lighter: #ffffff;
    --palette__brown__light: #ffffff;
    --g__text__black: #ffffff;
    --g__black__shade--1: rgba(255, 255, 255, 0.902);
    --g__black__shade--2: rgba(255, 255, 255, 0.902);
    --g__black__shade--3: rgba(255, 255, 255, 0.902);
    --g__black__shade--4: rgba(255, 255, 255, 0.902);
    --g__black__shade--5: rgba(255, 255, 255, 0.902);
    --g__black__shade--6: rgba(255, 255, 255, 0.902);
    --g__black__shade--7: rgba(255, 255, 255, 0.902);
    --g__black__shade--8: rgba(255, 255, 255, 0.902);
    --g__black__shade--9: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--1: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--2: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--3: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--4: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--5: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--6: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--7: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--8: rgba(255, 255, 255, 0.902);
    --g__text__black__shade--9: rgba(255, 255, 255, 0.902);
    --grey--1: #f7f7f7;
    --panel-grey: #f7f7f7;
    --panel-link-hover: rgb(8, 8, 8);
    --view__open: #f7f7f7;
    --chat__me: #222222;
    --g__logo__text--2: #000000;
    --search-result-image-bg: #222222;
    --wallet__green: #05634f;
    --chat__me: #222222;
    --dashboard__link--hover: #222222;
    --notification__header: #ffffff;
    --search-result-image-bg: #222222;
    --carousel-controls-bg: #222222;
    --carousel-controls-border: transparent;
    --wallet__green: #05634f;
    --testimonial__overlay--btn: #ffffff;
    --review__text: rgba(255, 255, 255, 0.9);
    --review__text--2: #f7f7f7;
    --header__fixed__box-shadow: 0 1px 12px rgba(27, 27, 27, 1);
    --logo__text__gradient--white: #000000 !important;
    --g__logo__text--2: #000000;
    --palette__brown__darker: #ffffff;
    --palette__brown__dark: #ffffff;
    --palette__brown__base: #ffffff;
    --palette__brown__lighter: #ffffff;
    --palette__brown__light: #ffffff;
    --overview__bg: var(--g__black);
    --overview__color: var(--g__white);
    --grey--1: #222;
    --panel-grey: #222;
    --panel-link-hover: rgb(8, 8, 8);
    --recent-search__bg: rgba(32, 32, 32, 1);
    --recent-search__btn: rgba(45, 45, 45, 1);
    --bronze: #cd8136ff;
    --g__input__focus: #222;
    --g__logo__text: #000;
  }
  :root .login .form__button {
    color: var(--g__white);
    background: var(--g__black);
  }
  :root .tips__heading {
    color: var(--g__black);
  }
  :root .account__button--active {
    color: var(--g__white);
  }
  :root .account__button--active {
    color: var(--g__white);
  }
  :root .empty__icon svg {
    fill: var(--g__white);
    stroke: var(--g__white);
  }
  :root .empty__text {
    color: var(--g__white);
  }
  :root .card--darker {
    background: var(--g__black);
  }
  :root .intro__header {
    color: var(--g__black);
  }
  :root .header__icon .dark {
    display: none;
  }
  :root .header__icon .light {
    display: block;
  }
  :root .footer__link .dark {
    display: none;
  }
  :root .footer__link .light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --footer__bg: #f7f7f7;
    --g__white: #ffffff;
    --g__text__white: #ffffff;
    --g__background__white: #ffffff;
    --g__background__gray: #f8f8f8;
    --g__input__focus: #eeeeee;
    --g__shadow: #ebebeb;
    --logo__brown--1: #552200;
    --logo__brown--2: #a55b28;
    --logo__white--1: #ffffff;
    --logo__white--2: #ffffff;
    --logo__text__gradient--white: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffffe8 131.25%
    ) !important;
    --testimonial__figure: rgba(238, 172, 127, 0.1);
    --testimonial__overlay: linear-gradient(
      to top,
      #fff,
      rgba(255, 255, 255, 0.05)
    );
    --search-result-image-bg: #ebebeb;
    --testimonial__overlay--btn: #1b0b01;
    --chat__me: #f7f7f7;
    --dashboard__link--hover: rgba(0, 0, 0, 0.05);
    --notification__header: #2d2d2d;
    --overview__bg: var(--g__black);
    --overview__color: var(--g__white);
    --carousel-controls-bg: #ffffff;
    --carousel-controls-border: #dddddd;
    --wallet__green: #05634f;
    --text__gradient: linear-gradient(
      90deg,
      #552200 0%,
      #a55b28 90%
    ) !important;
    --text__gradient--white: linear-gradient(
      90deg,
      #ffffff 0%,
      #ffffffe8 131.25%
    ) !important;
    --g__white--fixed: #ffffff;
    --review__text: #1b0b01;
    --header__fixed__box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    --g__brown: #ce8339;
    --g__navigation__link__brown: #ce8339;
    --g__join__button__brown: #cd8136;
    --g__logo__text: #a55a28;
    --g__logo__text--2: #a55a28;
    --g__icon__brown: #a55a28;
    --g__text__brown: #a55a28;
    --g__text__brown__2: #ce8339;
    --g__text__brown__3: #cd8136;
    --g__button__brown: #ce8339;
    --header__fixed__shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    --recent-search__bg: #f7f7f7;
    --recent-search__btn: #eeee;
    --g__gray: #848484;
    --g__icon__gray: #848484;
    --g__text__gray: #848484;
    --g__header__gray: #848484;
    --g__border__gray: #848484;
    --g__black: #000000;
    --g__text__black: #000000;
    --g__black__shade--1: #000000cc;
    --g__black__shade--2: #000000b3;
    --g__black__shade--3: #00000099;
    --g__black__shade--4: #00000080;
    --g__black__shade--5: #00000066;
    --g__black__shade--6: #0000004d;
    --g__black__shade--7: #00000033;
    --g__black__shade--8: #0000001a;
    --g__black__shade--9: #000000e6;
    --g__text__black__shade--1: #000000cc;
    --g__text__black__shade--2: #000000b3;
    --g__text__black__shade--3: #00000099;
    --g__text__black__shade--4: #00000080;
    --g__text__black__shade--5: #00000066;
    --g__text__black__shade--6: #0000004d;
    --g__text__black__shade--7: #00000033;
    --g__text__black__shade--8: #0000001a;
    --g__text__black__shade--9: #000000e6;
    --g__grey: #222222;
    --g__text__grey: #222222;
    --g__light__red: #ffe2e5;
    --g__red: #ff385c;
    --g__icon__red: #ff385c;
    --g__footer__background: #f7f7f7;
    --light-grey: #eeeeee;
    --image-preload: #c4c4c4;
    --grey--1: #f7f7f7;
    --panel-grey: #f7f7f7;
    --panel-link-hover: #eee;
    --view__open: rgba(32, 32, 32, 0.2);
    --palette__brown__darker: #552200;
    --palette__brown__dark: #7f3a0b;
    --palette__brown__base: #a55b28;
    --palette__brown__lighter: #eeac7f;
    --palette__brown__light: #c47a48;
    --windsor-tan: #a25a2aff;
    --brown-sugar: #aa5a30ff;
    --windsor-tan-2: #a55a27ff;
    --bronze: #000000;
    --bronze-2: #cb7f3aff;
    /* SCSS Gradient */
    --logo__text__gradient: linear-gradient(
      90deg,
      #552200 0%,
      #a55b28 135.12%
    ) !important;
    --gradient-top: linear-gradient(
      0deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-right: linear-gradient(
      90deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-bottom: linear-gradient(
      180deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-left: linear-gradient(
      270deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-top-right: linear-gradient(
      45deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-bottom-right: linear-gradient(
      135deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-top-left: linear-gradient(
      225deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-bottom-left: linear-gradient(
      315deg,
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
    --gradient-radial: radial-gradient(
      #a25a2aff,
      #aa5a30ff,
      #a55a27ff,
      #cd8136ff,
      #cb7f3aff
    );
  }
}

/* check variables.scss for variable references
  BEM convention (Not 100% perfect)
  7 in 1 pattern Architure 
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--Montserrat);
  -webkit-font-smoothing: antialiased;
  background: var(--g__background__white);
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.heading--primary {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-2xl));
  font-weight: var(--weight-xlg);
  line-height: 54px;
  text-align: center;
  color: var(--g__white--fixed);
}

@media only screen and (max-width: 990px) {
  .heading--primary {
    font-size: calc(var(--size-xl));
    line-height: 40px;
    padding: 0 var(--span-xl);
  }
}

@media only screen and (max-width: 600px) {
  .heading--primary {
    font-size: calc(var(--size-l) + 4px);
    line-height: 32px;
    padding: 0 var(--span-s);
  }
}

.u-h-100 {
  height: 100%;
}

.u-mb-sm {
  margin-bottom: var(--span-m) !important;
}

.u-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-w-full {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
}

.u-align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.u-mt-sm {
  margin-top: var(--span-s) !important;
}

.u-mt-md {
  margin-top: var(--span-l) !important;
}

.u-mb-none {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 990px) {
  .u-hidden-md {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .u-hidden-sm {
    display: none !important;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__image {
  margin-right: calc(var(--span-xs) + 5px);
  display: block;
  width: 48px;
  height: 48px;
}

.logo__text {
  background: var(--logo__text__gradient);
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 3px);
  font-weight: var(--weight-xxlg);
  line-height: 33px;
  text-align: left;
  color: var(--g__logo__text);
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -ms-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  overflow: clip !important;
}

.select {
  position: relative;
  width: 100%;
}

.select__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid var(--g__white);
  padding-bottom: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .select__field {
    width: 100%;
  }
}

.select__list {
  position: absolute;
  list-style-type: none;
  background: var(--g__white);
  width: 100%;
  left: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  z-index: 2;
  -webkit-box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.select__list.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
}

.select__item {
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 23px;
  padding: var(--span-s) var(--span-m);
  color: var(--g__text__gray);
  cursor: pointer;
  background: var(--g__white);
}

.select__item:nth-child(1) {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.select__item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.select__item:hover {
  background: var(--g__brown);
  color: var(--g__white);
}

@media only screen and (min-width: 1800px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1960px) {
  .container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__container {
  padding-top: var(--span-s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register {
  height: calc(100vh - 68px);
}

.register__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__header {
  font-family: var(--Montserrat);
  font-size: var(--size-l);
  font-weight: var(--weight-lg);
  line-height: 28px;
  text-align: left;
  color: var(--g__text__brown__3);
}

.register__group:not(:last-child) {
  margin-bottom: var(--span-s);
}

.register__group label {
  display: none;
}

.register__form {
  margin-top: var(--span-l);
  min-width: calc(var(--unit) * 45);
}

@media only screen and (max-width: 600px) {
  .register__form {
    min-width: 100%;
  }
}

.register__input {
  display: block;
  width: 100%;
  outline: none;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--g__text__brown__3);
  border-radius: 6px;
  border: 1px solid var(--g__border__gray);
  padding: calc(var(--span-xs) + 5px) var(--span-m);
}

@media only screen and (max-width: 600px) {
  .register__input {
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
  }
}

.register__input::-webkit-input-placeholder {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--g__text__brown__3);
}

@media only screen and (max-width: 600px) {
  .register__input::-webkit-input-placeholder {
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
  }
}

.register__input:internal-autofill-selected {
  background-color: transparent !important;
  color: var(--g__text__brown__3) !important;
}

.register__button {
  width: 100%;
  outline: none;
  border: none;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: center;
  color: var(--g__text__white);
  padding: calc(var(--span-xs) + 5px) var(--span-m);
  background: var(--g__join__button__brown);
}

.register__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--span-s);
}

.register__checkbox {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.register__check {
  width: 32px;
  height: 32px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .register__check {
    width: 24px;
    height: 24px;
  }
}

.register__check label {
  display: none;
}

.register__check .checkmark {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--g__border__gray);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media only screen and (max-width: 600px) {
  .register__check .checkmark {
    width: 24px;
    height: 24px;
  }
}

.register__check .checkmark:hover {
  background: var(--g__input__focus);
}

.register__check .checkmark svg {
  width: 16px;
  height: 16px;
  stroke: var(--g__border__gray);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.register__checkbox:checked + .checkmark svg {
  opacity: 1;
  visibility: visible;
}

.register__terms {
  margin-left: var(--span-s);
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 23px;
  text-align: center;
  color: var(--g__text__grey);
}

@media only screen and (max-width: 600px) {
  .register__terms {
    margin-left: var(--span-xs);
    font-size: var(--size-xs);
    line-height: 20px;
  }
}

.register__terms a {
  text-decoration: none;
  display: inline-block;
  color: var(--g__text__brown__2);
}
/*# sourceMappingURL=register.css.map */