@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --unit: 10px;
  --Montserrat: "Montserrat", sans-serif;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;
  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;
  --grootech__white: #ffffff;
  --grootech__text__white: #ffffff;
  --grootech__background__white: #ffffff;
  --grootech__background__gray: #f8f8f8;
  --grootech__input__focus: #eeeeee;
  --grootech__shadow: #ebebeb;
  --grootech__brown: #ce8339;
  --grootech__navigation__link__brown: #ce8339;
  --grootech__join__button__brown: #cd8136;
  --grootech__logo__text: #a55a28;
  --grootech__icon__brown: #a55a28;
  --grootech__text__brown: #a55a28;
  --grootech__text__brown__2: #ce8339;
  --grootech__text__brown__3: #cd8136;
  --grootech__button__brown: #ce8339;
  --grootech__gray: #848484;
  --grootech__icon__gray: #848484;
  --grootech__text__gray: #848484;
  --grootech__header__gray: #848484;
  --grootech__border__gray: #848484;
  --grootech__black: #000000;
  --grootech__text__black: #000000;
  --grootech__grey: #222222;
  --grootech__text__grey: #222222;
  --grootech__red: #ff385c;
  --grootech__icon__red: #ff385c;
  --grootech-placement-max-height: calc(
    100vh - var(--navigation-bar-offset, 80px)
  ) !important;
  --grootech__footer__background: #f7f7f7;
  --navigation-bar-offset: 91px;
  --navigation-space: 25px;
  --scrollbar: #eeeeee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--Montserrat);
  background: var(--grootech__background__white);
}

::selection {
  color: var(--grootech__text__white);
  background: var(--grootech__brown);
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background: transparent;
  color: var(--grootech__text__brown__3) !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  -webkit-text-fill-color: var(--grootech__text__brown__3) !important;
}

.u-h-100 {
  height: 100%;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.logo__image {
  margin-right: calc(var(--span-xs) + 5px);
  display: block;
  width: 48px;
  height: 48px;
}

.logo__text {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-l) + 3px);
  font-weight: var(--weight-xxlg);
  line-height: 33px;
  text-align: left;
  color: var(--grootech__logo__text);
}

.select {
  position: relative;
  width: 100%;
}

.select__field {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--white);
  padding-bottom: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .select__field {
    width: 100%;
  }
}

.select__list {
  position: absolute;
  list-style-type: none;
  background: var(--grootech__white);
  width: 100%;
  left: 0;
  transform: translateY(10px);
  z-index: 2;
  box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px;
  transition: all 300ms;
}

.select__list.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
  box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.05) !important;
}

.select__item {
  font-family: var(--Montserrat);
  font-size: var(--size-m);
  font-weight: var(--weight-md);
  line-height: 23px;
  padding: var(--span-s) var(--span-m);
  color: var(--grootech__text__gray);
  cursor: pointer;
  background: var(--grootech__white);
}

.select__item:nth-child(1) {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.select__item:last-child {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.select__item:hover {
  background: var(--grootech__brown);
  color: var(--grootech__white);
}

@media only screen and (min-width: 1800px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 1799px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__container {
  padding-top: var(--span-s);
  display: flex;
  justify-content: center;
}

.register {
  height: calc(100vh - 68px);
}

.register__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.register__header {
  font-family: var(--Montserrat);
  font-size: var(--size-l);
  font-weight: var(--weight-lg);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__brown__3);
}

.register__group:not(:last-child) {
  margin-bottom: var(--span-s);
}

.register__group label {
  display: none;
}

.register__form {
  margin-top: var(--span-l);
  min-width: calc(var(--unit) * 45);
}

@media only screen and (max-width: 600px) {
  .register__form {
    min-width: 100%;
  }
}

.register__input {
  display: block;
  width: 100%;
  outline: none;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__brown__3);
  border-radius: 6px;
  border: 1px solid var(--grootech__border__gray);
  padding: calc(var(--span-xs) + 5px) var(--span-m);
}

@media only screen and (max-width: 600px) {
  .register__input {
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
  }
}

.register__input::-webkit-input-placeholder {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: left;
  color: var(--grootech__text__brown__3);
}

@media only screen and (max-width: 600px) {
  .register__input::-webkit-input-placeholder {
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
  }
}

.register__input:internal-autofill-selected {
  background-color: transparent !important;
  color: var(--grootech__text__brown__3) !important;
}

.register__button {
  width: 100%;
  outline: none;
  border: none;
  font-family: var(--Montserrat);
  font-size: calc(var(--size-m) + 2px);
  font-weight: var(--weight-md);
  line-height: 28px;
  text-align: center;
  color: var(--grootech__text__white);
  padding: calc(var(--span-xs) + 5px) var(--span-m);
  background: var(--grootech__join__button__brown);
}

.register__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--span-s);
}

.register__checkbox {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.register__check {
  width: 32px;
  height: 32px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .register__check {
    width: 24px;
    height: 24px;
  }
}

.register__check label {
  display: none;
}

.register__check .checkmark {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grootech__border__gray);
  transition: all 300ms;
}

@media only screen and (max-width: 600px) {
  .register__check .checkmark {
    width: 24px;
    height: 24px;
  }
}

.register__check .checkmark:hover {
  background: var(--grootech__input__focus);
}

.register__check .checkmark svg {
  width: 16px;
  height: 16px;
  stroke: var(--grootech__border__gray);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

.register__checkbox:checked + .checkmark svg {
  opacity: 1;
  visibility: visible;
}

.register__terms {
  margin-left: var(--span-s);
  font-family: var(--Montserrat);
  font-size: var(--size-s);
  font-weight: var(--weight-sm);
  line-height: 23px;
  text-align: center;
  color: var(--grootech__text__grey);
}

@media only screen and (max-width: 600px) {
  .register__terms {
    margin-left: var(--span-xs);
    font-size: var(--size-xs);
    line-height: 20px;
  }
}

.register__terms a {
  text-decoration: none;
  display: inline-block;
  color: var(--grootech__text__brown__2);
}
/*# sourceMappingURL=register.css.map */