@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/logo";
@import "../components/newsletter";
@import "../components/search";

@import "../layout/grid";
@import "../layout/footer";
@import "../layout/navigation";

.dashboard {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    background: var(--dark);
    height: 100%;
    position: fixed;
    width: var(--sidebar__width);
  }

  &__logo {
    height: var(--dashboard__header__height);
    background: var(--darker);
    display: flex;
    align-items: center;
    padding: 0 calc(var(--span-s) + 5px);
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
  }

  &__text {
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-xlg);
    line-height: 25px;
    text-align: left;
    color: var(--grootech__text__white);
    letter-spacing: 0.05em;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover svg {
      stroke: var(--hover-light);
    }

    svg {
      transition: all 300ms;
      stroke: var(--hover-light);
    }
  }

  &__list {
    margin-top: var(--span-m);
    list-style-type: none;
  }

  &__link {
    &--flex {
      display: flex;
      gap: var(--span-s);
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 20px;
          height: 20px;
          stroke: #ffaf5f;
        }
      }

      .text {
        font-family: var(--Montserrat);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 20px;
        text-align: left;
        color: var(--grootech__text__white);
        letter-spacing: -0.035em;
      }
    }
  }

  &__item {
    padding: var(--span-xs) calc(var(--span-s) + 5px);
    transition: all 300ms;
    cursor: pointer;

    &:hover {
      background: var(--darker);
    }

    &--active {
      background: var(--darker);
    }
  }

  &__view {
    position: relative;
    margin-left: var(--sidebar__width);
    flex-grow: 1;
  }

  &__header {
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
      0px 4px 12px rgba(0, 0, 0, 0.01) !important;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--span-xs) var(--span-m);
    height: var(--dashboard__header__height);
  }

  &__page {
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--grootech__white);
    padding: var(--span-xs) var(--span-m);
    height: calc(var(--dashboard__header__height) - var(--span-s));
    display: flex;
    align-items: center;
  }

  &__heading {
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-xlg);
    line-height: 20px;
    text-align: left;
    color: var(--darker);
    border-right: 1px solid #eeee;
    padding-right: var(--span-s);
  }

  &__main {
    background: #f8f8f8;
    padding: var(--span-m);
  }

  &__footer {
    padding: var(--span-xs) var(--span-m);
    height: calc(var(--dashboard__header__height) - var(--span-s));
    background: var(--grootech__white);
  }

  &__card {
    background: var(--grootech__white);
  }
}

.nav {
  height: 36px;

  &__details {
    position: relative;
    display: flex;
    gap: calc(var(--span-xs) + 5px);
    cursor: pointer;
  }

  &__header {
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-xlg);
    line-height: 20px;
    text-align: left;
    color: var(--darker);
  }

  &__paragraph {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: right;
    color: var(--grootech__text__gray);
  }

  &__image-box {
    position: relative;
    width: 36px;
    height: 36px;
  }

  &__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__indicator {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    border: 1.5px solid var(--grootech__white);
    border-radius: 50%;

    &--active {
      background: var(--active__indicator);
    }
  }
}

.actions {
  position: absolute;
  z-index: 3;
  width: 250px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  background: var(--grootech__white);
  cursor: default;
  border-radius: 10px;
  margin-top: var(--span-xs);
  top: 100%;
  right: 0;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 300ms;
  pointer-events: all;

  &--hidden {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    pointer-events: none;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    transition: all 300ms;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:hover {
      background: #eeee;
    }

    &:nth-child(4) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    gap: calc(var(--span-xs) + 5px);
    align-items: center;
    padding: var(--span-xs) var(--span-s);

    &.unverified {
      .text {
        color: #f64e60;
      }

      .icon {
        svg {
          stroke: #f64e60;
        }
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 18px;
        height: 18px;
        stroke: var(--grootech__black);
      }
    }

    .text {
      font-family: var(--Montserrat);
      font-size: var(--size-s);
      font-weight: var(--weight-sm);
      line-height: 20px;
      text-align: right;
      color: var(--grootech__black);
    }
  }
}
