@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/logo";
@import "../components/newsletter";
@import "../components/search";

@import "../layout/grid";
@import "../layout/footer";
@import "../layout/navigation";

.header {
  height: var(--header__height);
  transition: all 300ms;
  opacity: 1;
  visibility: visible;

  &--fixed {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--grootech__white);
    height: var(--header__height);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    z-index: 5;
    transition: all 300ms;
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    opacity: 0 !important;
    visibility: hidden;
    transition: all 300ms;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1960px) {
      margin-left: -15%;
      margin-right: -15%;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: var(--span-s);
  }

  &__icon {
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
      stroke: var(--grootech__black);
    }
  }

  &--fixed &__icon {
    svg {
      stroke: var(--grootech__black);
    }
  }

  &__image-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--grootech__white);
    border-radius: 50%;
    cursor: pointer;
    gap: var(--span-xs);
  }

  &__image {
    object-fit: cover;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;
  }

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-image {
      margin-right: calc(var(--span-xs));
      display: block;
      width: 36px;
      height: 36px;
    }

    &-text {
      background: linear-gradient(90deg, #552200 0%, #a55b28 90%) !important;
      @include __text__clip;

      font-family: var(--Montserrat);
      font-size: calc(var(--size-l) + 3px);
      font-weight: var(--weight-xxlg);
      line-height: 33px;
      text-align: left;
      color: var(--grootech__logo__text);

      &--white {
        @include __text__clip;
        background: linear-gradient(
          90deg,
          #ffffff 0%,
          #ffffffe8 131.25%
        ) !important;
        color: var(--grootech__text__white);
      }
    }
  }

  &__container {
    width: 100%;
    flex: 0 0 100%;

    &--location {
      padding-left: var(--span-s);
    }

    &--tag {
      flex: 0 0 calc(100% - 48px);
    }
  }

  &__label {
    text-transform: capitalize;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-xs));
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__black);
  }

  &__input {
    display: block;
    width: 100%;
    flex: 0 0 100%;
    outline: none;
    border: none;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-s));
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__gray);

    &::first-letter {
      text-transform: capitalize;
    }

    &::-webkit-input-placeholder {
      font-family: var(--Montserrat);
      font-size: calc(var(--size-s));
      font-weight: var(--weight-sm);
      line-height: 23px;
      text-align: left;
      color: var(--grootech__text__gray);

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.section-dashboard {
  @include __section__space__top;
}

.dashboard {
  &__nav {
    align-self: center;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: var(--span-m);
    align-items: center;
  }

  &__link {
    font-family: var(--Montserrat);
    font-size: calc(var(--size-s));
    font-weight: var(--weight-md);
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    color: var(----grootech__text__black__shade--1);
  }
}
