@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/newsletter";
@import "../components/search";

@import "../layout/grid";
@import "../layout/footer";
@import "../layout/navigation";

.header {
  @include __header__space;
  background: var(--grootech__white);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-image {
      margin-right: calc(var(--span-xs) + 5px);
      display: block;
      width: 48px;
      height: 48px;
    }

    &-text {
      font-family: var(--Montserrat);
      font-size: calc(var(--size-l) + 3px);
      font-weight: var(--weight-xxlg);
      line-height: 33px;
      text-align: left;
      color: var(--grootech__logo__text);
    }
  }
}

.section-intro {
  position: relative;
  background-image: url(../assets/images/grootech__banner.png);
  background-size: cover;
  background-position: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
  }
}

.intro {
  position: relative;
  padding: calc(2.5 * var(--span-2xl)) 0;
  z-index: 2;

  &__header {
    font-family: var(--Montserrat);
    font-size: calc(var(--size-2xl) + var(--size-xs));
    font-weight: var(--weight-xlg);
    line-height: 73px;
    text-align: center;
    color: var(--grootech__text__white);
  }

  &__heading {
    margin-top: var(--span-s);
    font-family: var(--Montserrat);
    font-size: var(--size-xl);
    font-weight: var(--weight-sm);
    line-height: 43px;
    text-align: center;
    color: var(--grootech__text__white);
  }
}

.section-features {
  @include __section__space__top;
  @include __section__background(var(--grootech__background__white));
}

.features {
  &__header {
    @include __section__header__gray;
  }

  &__wrapper {
    @include __card__wrapper__;

    @media only screen and (max-width: 1200px) {
      margin: 0 -5%;
      padding: 0 5%;
      overflow-x: hidden;
      flex-wrap: nowrap;
      padding-bottom: 3px;
      padding-top: 3px;
    }
  }
}

.section-popular {
  @include __section__space__top;
}

.popular {
  &__header {
    @include __section__header__gray;
  }

  &__wrapper {
    @include __card__wrapper__;

    @media only screen and (max-width: 1200px) {
      margin: 0 -5%;
      padding: 0 5%;
      overflow-x: hidden;
      flex-wrap: nowrap;
      padding-bottom: 3px;
      padding-top: 3px;
    }
  }
}

.section-categories {
  @include __section__space;
  @include __section__background(var(--grootech__background__white));
}

.categories {
  &__header {
    @include __section__header__gray;
  }

  &__list {
    list-style-type: none;
    margin-top: var(--span-l);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;

    span {
      display: block;
    }
  }

  &__heading {
    text-transform: capitalize;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-xlg);
    line-height: 28px;
    text-align: left;
    color: var(--grootech__text__brown);
  }

  &__paragraph {
    margin-top: calc(var(--span-xs) / 2);
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__gray);
  }
}

.section-newsletter {
  @include __section__space;
  @include __section__background(var(--grootech__background__gray));
}

.newsletter {
  &__header {
    font-family: var(--Montserrat);
    font-size: var(--size-xl);
    font-weight: var(--weight-xlg);
    line-height: 43px;
    text-align: center;
    color: var(--grootech__text__brown__2);
  }

  &__paragraph {
    margin-top: var(--span-xs);
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 25px;
    text-align: center;
    color: var(--grootech__text__black);
  }
}
