@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/logo";
@import "../components/newsletter";
@import "../components/search";

@import "../layout/grid";
@import "../layout/footer";
@import "../layout/navigation";

.header {
  height: var(--header__height);
  transition: all 300ms;
  opacity: 1;
  visibility: visible;

  &--fixed {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--grootech__white);
    height: var(--header__height);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    z-index: 5;
    transition: all 300ms;
    opacity: 1;
    visibility: visible;
  }

  &--hidden {
    opacity: 0 !important;
    visibility: hidden;
    transition: all 300ms;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1960px) {
      margin-left: -15%;
      margin-right: -15%;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: var(--span-s);
  }

  &__icon {
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
      stroke: var(--grootech__black);
    }
  }

  &--fixed &__icon {
    svg {
      stroke: var(--grootech__black);
    }
  }

  &__image-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--grootech__white);
    border-radius: 50%;
    cursor: pointer;
    gap: var(--span-xs);
  }

  &__image {
    object-fit: cover;
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 50%;

    &--blank {
      background: #c4c4c4;
    }
  }

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-image {
      margin-right: calc(var(--span-xs));
      display: block;
      width: 36px;
      height: 36px;
    }

    &-text {
      background: linear-gradient(90deg, #552200 0%, #a55b28 90%) !important;
      -webkit-background-clip: text !important;
      -moz-background-clip: text !important;
      -ms-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      overflow: clip;
      font-family: var(--Montserrat);
      font-size: calc(var(--size-l) + 3px);
      font-weight: var(--weight-xxlg);
      line-height: 33px;
      text-align: left;
      color: var(--grootech__logo__text);

      &--white {
        background: linear-gradient(
          90deg,
          #ffffff 0%,
          #ffffffe8 131.25%
        ) !important;
        color: var(--grootech__text__white);
        -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -ms-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
      }
    }
  }
}
