@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/logo";
@import "../components/newsletter";
@import "../components/search";

@import "../layout/grid";
@import "../layout/navigation";

@import "../theme/theme";

@import "../vendors/dot-flashing-three-dots";

.wrapper {
  max-width: 990px;
  margin: 0 auto;
  display: none;

  @media only screen and (max-width: 990px) {
    display: block;
  }
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid var(--g__black__shade--8);
  box-shadow: var(--header__fixed__box-shadow);
  background: var(--g__white);

  @media only screen and (max-width: 600px) {
    height: 50px;
  }

  &__wrapper {
    flex: 0 0 100%;
    display: flex;
    height: 100%;
    align-items: center;
    gap: var(--span-xs);

    .icon {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      &--back {
        margin-left: var(--span-m);

        @media only screen and (max-width: 600px) {
          margin-left: calc(var(--span-xs) + 5px);
        }
      }

      &--menu {
        margin-left: auto;
        margin-right: var(--span-m);

        @media only screen and (max-width: 600px) {
          margin-right: calc(var(--span-xs) + 5px);
        }
      }

      svg {
        width: 24px;
        height: 24px;
        stroke: var(--g__black__shade--1);
      }
    }
  }

  &__image-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__profile {
    display: flex;
    gap: var(--span-xs);
    align-items: center;
  }

  &__name {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-xlg);
    line-height: 15px;
    text-align: left;
    color: var(--g__black__shade--1);
  }

  &__status {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-md);
    line-height: 15px;
    text-align: left;
    color: var(--g__black__shade--1);
  }
}

.section-chat {
  padding: 0 var(--span-m);

  @media only screen and (max-width: 600px) {
    padding: 0 calc(var(--span-xs) + 5px);
  }
}

.chat {
  padding-top: 60px;

  @media only screen and (max-width: 600px) {
    padding-top: 50px;
  }

  &__list {
    margin-top: var(--span-xs);
    list-style-type: none;
    display: grid;
    gap: var(--span-xs);
  }

  &__item {
    max-width: 80%;

    &:last-child {
      margin-bottom: 70px;
    }

    &--receiver {
      margin-right: auto;

      .chat__text {
        background: rgba(238, 172, 127, 0.1);
      }
    }

    &--sender {
      margin-left: auto;

      .chat__text {
        background: var(--chat__me);
      }
    }
  }

  &__text {
    padding: var(--span-s);
    max-width: max-content;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-md);
    line-height: 23px;
    text-align: left;
    color: var(--g__black__shade--2);
    border-radius: 10px;
  }
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 0.5px solid var(--g__black__shade--8);
  background: var(--g__white);
  padding: 0 var(--span-m);

  @media only screen and (max-width: 600px) {
    height: 50px;
    padding: 0 calc(var(--span-xs) + 5px);
  }

  &__wrapper {
    flex-basis: 100%;
    height: 100%;
    display: flex;
    gap: var(--span-xs);

    .icon {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;

      svg {
        stroke: var(--g__black__shade--3);
      }
    }
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    display: block;
    flex-grow: 1;
  }

  &__button {
    align-self: center;
    padding: var(--span-xs) calc(var(--span-xs) + 5px);
    border-radius: 5px;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-md);
    line-height: 15px;
    text-align: center;
    color: var(--g__white--fixed);
    background: #ce8339;
  }
}
