@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/logo";
@import "../components/select";

@import "../layout/grid";

.header {
  &__container {
    padding-top: var(--span-s);
    display: flex;
    justify-content: center;
  }
}

.register {
  height: calc(100vh - 68px);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  &__header {
    font-family: var(--Montserrat);
    font-size: var(--size-l);
    font-weight: var(--weight-lg);
    line-height: 28px;
    text-align: left;
    color: var(--g__text__brown__3);
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: var(--span-s);
    }

    label {
      display: none;
    }
  }

  &__form {
    margin-top: var(--span-l);
    min-width: calc(var(--unit) * 45);

    @media only screen and (max-width: 600px) {
      min-width: 100%;
    }
  }

  &__input {
    display: block;
    width: 100%;
    outline: none;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-md);
    line-height: 28px;
    text-align: left;
    color: var(--g__text__brown__3);
    border-radius: 6px;
    border: 1px solid var(--g__border__gray);
    padding: calc(var(--span-xs) + 5px) var(--span-m);

    @media only screen and (max-width: 600px) {
      font-size: var(--size-m);
      font-weight: var(--weight-md);
      line-height: 25px;
    }

    &::-webkit-input-placeholder {
      font-family: var(--Montserrat);
      font-size: calc(var(--size-m) + 2px);
      font-weight: var(--weight-md);
      line-height: 28px;
      text-align: left;
      color: var(--g__text__brown__3);

      @media only screen and (max-width: 600px) {
        font-size: var(--size-m);
        font-weight: var(--weight-md);
        line-height: 25px;
      }
    }

    &:internal-autofill-selected {
      background-color: transparent !important;
      color: var(--g__text__brown__3) !important;
    }
  }

  &__button {
    width: 100%;
    outline: none;
    border: none;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-md);
    line-height: 28px;
    text-align: center;
    color: var(--g__text__white);
    padding: calc(var(--span-xs) + 5px) var(--span-m);
    background: var(--g__join__button__brown);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: var(--span-s);
  }

  &__checkbox {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__check {
    width: 32px;
    height: 32px;
    position: relative;

    @media only screen and (max-width: 600px) {
      width: 24px;
      height: 24px;
    }

    label {
      display: none;
    }

    .checkmark {
      cursor: pointer;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--g__border__gray);
      transition: all 300ms;

      @media only screen and (max-width: 600px) {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background: var(--g__input__focus);
      }

      svg {
        width: 16px;
        height: 16px;
        stroke: var(--g__border__gray);
        opacity: 0;
        visibility: hidden;
        transition: all 300ms;
      }
    }
  }

  &__checkbox:checked + .checkmark svg {
    opacity: 1;
    visibility: visible;
  }

  &__terms {
    margin-left: var(--span-s);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: center;
    color: var(--g__text__grey);

    @media only screen and (max-width: 600px) {
      margin-left: var(--span-xs);
      font-size: var(--size-xs);
      line-height: 20px;
    }

    a {
      text-decoration: none;
      display: inline-block;
      color: var(--g__text__brown__2);
    }
  }
}
