@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/button";
@import "../components/card";
@import "../components/logo";
@import "../components/pagination";

@import "../layout/grid";

@import "../theme/theme";

.header {
  border-bottom: 1px solid var(--grootech__black__shade--8);
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: var(--grootech__white);
  height: var(--header__height);
  display: flex;
  align-items: center;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  &__logo {
    align-self: center;

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &-image {
      margin-right: calc(var(--span-xs));
      display: block;
      width: 36px;
      height: 36px;
    }

    &-text {
      background: var(--logo__text__gradient);
      @include __text__clip;

      font-family: var(--Montserrat);
      font-size: calc(var(--size-l) + 3px);
      font-weight: var(--weight-xxlg);
      line-height: 33px;
      text-align: left;
      color: var(--grootech__logo__text);

      @media only screen and (max-width: 600px) {
        font-size: calc(var(--size-l));
      }

      &--white {
        background: var(--logo__text__gradient--white);
        color: var(--grootech__text__white);
        @include __text__clip;
      }
    }
  }

  &__wrapper {
    @include __header__space__modified;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
  }
}

.options {
  align-self: center;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--grootech__input__focus);
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  padding: 0 calc(var(--span-xs) / 2);

  @media only screen and (max-width: 768px) {
    display: none;
  }

  button {
    background: transparent;
    height: 48px;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__black__shade--1);

    span {
      padding: 0 calc(var(--span-xs) + 5px);
    }
  }

  &__location {
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 8px;

    span {
      font-weight: var(--weight-lg);
      color: var(--grootech__text__black__shade--1);
    }
  }

  &__dates {
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__border {
    height: 24px;
    width: 1px;
    background: var(--grootech__input__focus);
  }

  &__rating {
    outline: none;
    border: none;
    cursor: pointer;
    padding-right: 8px;
    display: flex;
    align-items: center;
  }

  &__search {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--grootech__logo__text);

    svg {
      width: 16px;
      height: 16px;
      stroke: var(--grootech__white--fixed);
    }
  }
}

.user {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  border-radius: 20px;
  padding-left: var(--span-xs);
  padding-right: 5px;
  cursor: pointer;
  position: relative;
  border: 1px solid var(--grootech__black__shade--8);

  @media only screen and (max-width: 768px) {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    svg {
      width: 16px;
      height: 16px;
      stroke: var(--grootech__black);
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--grootech__logo__text);
    margin-left: var(--span-s);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.actions {
  cursor: default;
  position: absolute;
  margin-top: var(--span-xs);
  width: 300px;
  top: 100%;
  right: 0;
  z-index: 5;
  border-radius: 10px;
  background: var(--grootech__white);
  z-index: 2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    &:first-child {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:nth-child(2) {
      border-bottom: 1px solid var(--grootech__black__shade--8);
    }

    &:hover {
      background: var(--grootech__input__focus);
    }
  }

  &__link {
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--span-s) var(--span-m);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-md);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__black__shade--1);
  }
}

.section-results {
  position: relative;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.results {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 1920px) {
    grid-template-columns: 1fr 1.5fr;
  }

  @media only screen and (min-width: 1800px) {
    padding-left: 25px;
  }

  @media only screen and (max-width: 1799px) {
    padding-left: 25px;
  }

  @media only screen and (max-width: 1140px) {
    padding-right: 25px;
  }

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1.5fr 1fr;
  }

  @media only screen and (max-width: 1140px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__content {
    padding-top: var(--header__height);
  }

  &__map {
    position: sticky !important;
    top: var(--header__height) !important;
    z-index: 1 !important;
    width: 100% !important;
    height: var(--grootech-placement-max-height) !important;

    @media only screen and (max-width: 1140px) {
      display: none;
    }
  }

  &__overview {
    margin-top: var(--span-m);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__black__shade--2);
  }

  &__policy {
    margin-top: var(--span-m);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__black__shade--2);
    padding-bottom: var(--span-s);
    border-bottom: 1px solid var(--grootech__black__shade--8);

    a {
      text-decoration: underline;
      color: var(--grootech__logo__text);
    }
  }

  &__list {
    margin-top: var(--span-s);
    list-style-type: none;
    display: grid;
    gap: 20px;
    margin-bottom: var(--span-xl);
  }

  &__link {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__item {
    position: relative;
    padding-bottom: var(--span-s);
    display: flex;
    border-bottom: 1px solid var(--grootech__black__shade--8);
  }

  &__button {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    z-index: 3;

    &:hover {
      background: var(--grootech__white--fixed);
      transform: scale(1.05);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 4px 12px rgba(0, 0, 0, 0.05) !important;
    }

    svg {
      width: 16px;
      height: 16px;
    }

    &--left {
      left: 10px;

      &.hidden {
        opacity: 0 !important;
        visibility: hidden !important;
      }
    }

    &--right {
      right: 10px;
    }
  }

  &__item:hover &__button {
    opacity: 1;
    visibility: visible;
  }

  &__link:hover &__button {
    opacity: 1;
    visibility: visible;
  }

  &__controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 55px;
    overflow: clip;
  }

  &__dot {
    width: 6px;
    height: 6px;
    min-width: 6px;
    border-radius: 50%;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
    background: var(--grootech__white--fixed);
    opacity: 0.6;

    &--active {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__image-box {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    overflow-x: hidden;
    position: relative;
  }

  &__image {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
    height: 200px;
    object-fit: cover;
  }

  &__details {
    flex-grow: 1;
    padding-left: var(--span-s);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__favourite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    .icon-favourite {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all 300ms;
      background: transparent;

      &:hover {
        background: var(--grootech__input__focus);
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__paragraph {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: left;
    color: var(--grootech__black__shade--2);
  }

  &__heading {
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 28px;
    text-align: left;
    color: var(--grootech__black__shade--2);
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
  }

  &__tags {
    margin-top: calc(var(--span-xs) / 2);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 360px;
  }

  &__tag {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 14px;
    text-align: left;
    color: var(--grootech__black__shade--2);
  }

  &__footer {
    display: flex;
  }

  &__reviews {
    display: flex;
    align-items: center;
  }

  &__review {
    .icon-review {
      color: var(--grootech__icon__red);
      svg {
        width: 16px;
        height: 16px;
        fill: var(--grootech__icon__red);
      }
    }
  }

  &__rating {
    margin-left: calc(var(--span-xs) / 2);
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-lg);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__black__shade--2);
  }

  &__score {
    margin-left: calc(var(--span-xs) / 2);
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) - 1px);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: left;
    color: var(--grootech__black__shade--2);
  }
}

.footer {
  padding-top: var(--span-xl);
  padding-bottom: var(--span-s);
  background: var(--footer__bg);

  @media only screen and (max-width: 600px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    padding-bottom: var(--span-l);
    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__box {
    flex: 1 0 0% !important;

    &:not(:last-child) {
      @media only screen and (max-width: 1024px) {
        margin-bottom: var(--span-s);
        padding-bottom: var(--span-s);
        border-bottom: 1px solid var(--grootech__black__shade--8);
      }
    }

    @media only screen and (max-width: 1024px) {
      flex: 1 0 100% !important;
    }
  }

  &__header {
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-lg);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__black);
  }

  &__list {
    margin-top: var(--span-s);
    list-style-type: none;
    display: grid;
    gap: calc(var(--span-s) + 5px);

    @media only screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__link {
    display: inline-block;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    color: var(--grootech__text__black);
    transition: all 300ms;

    &:hover {
      text-decoration: underline;
    }
  }

  &__container {
    padding-top: var(--span-s);
    border-top: 1px solid var(--grootech__black__shade--8);
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
      align-items: center;
      flex-direction: column;
    }
  }
}

.copyright {
  @media only screen and (max-width: 1024px) {
    order: 0;
    margin-bottom: var(--span-xs);
  }

  &__paragraph {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 15px;
    text-align: left;
    color: var(--grootech__text__black);
  }
}

.extras {
  margin-left: var(--span-s);
  margin-right: auto;

  @media only screen and (max-width: 1024px) {
    margin: 0;
    order: 1;
  }

  &__list {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 15px;
    text-align: left;
    color: var(--grootech__text__black);
    text-decoration: none;
    gap: 5px;

    &:hover {
      text-decoration: underline;
    }

    .dot {
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: var(--grootech__black);
    }
  }
}

.social {
  display: flex;
  gap: var(--span-s);

  @media only screen and (max-width: 1024px) {
    order: -1;
    margin-bottom: var(--span-s);
  }

  &__language {
    color: var(--grootech__text__black);
    display: flex;
    align-items: center;
    gap: var(--span-xs);
    cursor: pointer;
    transition: all 50ms;

    &:hover {
      color: var(--grootech__text__black__shade--3);
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 16px;
        height: 16px;
        transition: all 50ms;
      }
    }

    .text {
      font-family: var(--Montserrat);
      font-size: var(--size-xs);
      font-weight: var(--weight-sm);
      line-height: 15px;
      text-align: left;
      text-decoration: underline;
      transition: all 50ms;
    }
  }

  &__currency {
    color: var(--grootech__text__black);
    display: flex;
    align-items: center;
    gap: var(--span-xs);
    cursor: pointer;
    transition: all 50ms;

    &:hover {
      color: var(--grootech__text__black__shade--3);
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 16px;
        height: 16px;
        transition: all 50ms;
      }
    }

    .text {
      font-family: var(--Montserrat);
      font-size: var(--size-xs);
      font-weight: var(--weight-sm);
      line-height: 15px;
      text-align: left;
      text-decoration: underline;
      transition: all 50ms;
    }
  }

  &__media {
    margin-left: var(--span-s);
  }

  &__list {
    display: flex;
    gap: var(--span-s);
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grootech__text__black);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.mobile {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }

  &-header {
    padding: var(--span-xs) 0;
    position: relative;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100vw;
    background: var(--grootech__white) !important;
    border-bottom: 1px solid var(--grootech__black__shade--8);
    transition: background 200ms cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px !important;

    &__wrapper {
      display: flex;
    }

    &__icon {
      width: 48px;
      height: 48px;
    }

    &__form {
      flex-grow: 1;
    }

    &__group {
      height: 100%;
    }

    &__button {
      background: var(--light-grey);
      border-radius: 20px;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      .text {
        font-family: var(--Montserrat);
        font-size: var(--size-s);
        font-weight: var(--weight-md);
        line-height: 20px;
        text-align: left;
        color: var(--grootech__black--fixed);

        &--location {
          font-weight: var(--weight-lg);
        }
      }

      .dot {
        align-self: center;
        margin: 0 5px;
        width: 2.5px;
        height: 2.5px;
        border-radius: 50%;
        background: var(--grootech__black);
      }
    }

    &__link {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background: transparent;
      color: var(--grootech__black);

      svg {
        width: 24px !important;
        height: 24px !important;
      }

      &--filter {
        svg {
          width: 16px !important;
          height: 16px !important;
          fill: var(--grootech__black);
        }
      }
    }
  }

  &__map {
    position: relative;
    z-index: -1;
    min-height: 100vh;
    display: none;
    background: var(--light-grey);

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }

  &__view {
    position: fixed;
    width: 100vw;
    bottom: 0;
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    background: var(--grootech__white);
    display: none;
    transition: all 100ms;
    padding: 0 calc(var(--span-s) - 5px);
    padding-top: var(--span-m);
    max-height: calc(100vh - 50px);
    transform: translateY(60%);

    &.max {
      overflow-y: scroll !important;
      transform: translateY(0);
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    &-open {
      width: 40px;
      background: var(--view__open);
      border-radius: 15px;
      cursor: pointer;
      height: 4px;
      margin: 0 auto;
      margin-bottom: var(--span-s);
    }

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
}

.map__button {
  position: fixed;
  margin-bottom: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--span-xs) var(--span-s);
  align-items: center;
  border-radius: 10px;
  background: var(--grootech__black);
  gap: var(--span-xs);
  color: var(--grootech__text__white);
  cursor: pointer;
  display: none;
  z-index: 5;

  @media only screen and (max-width: 600px) {
    display: flex;
  }

  .text {
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-md);
    line-height: 20px;
    text-align: left;
    color: var(--grootech__text__white);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search {
  padding-bottom: var(--span-xl);
  overflow-y: scroll;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &__paragraph {
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-md);
    line-height: 20px;
    text-align: center;
    color: var(--grootech__text__black);
    padding-bottom: var(--span-xs);
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  &__list {
    padding-top: var(--span-m);
    list-style-type: none;
    display: grid;
    gap: var(--span-l);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__image-box {
    position: relative;
    display: flex;
    overflow-x: hidden;
    z-index: 2;
    width: 100%;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .results__controls {
    z-index: 4;

    .results__dot {
      width: 8px;
      height: 8px;
      min-width: 8px;
    }
  }

  &__image {
    flex: 1 0 100%;
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }

  &__rating {
    margin-top: var(--span-xs);
    display: flex;
    gap: 5px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px;
        height: 12px;
        stroke: var(--grootech__icon__red);
        fill: var(--grootech__icon__red);
      }
    }

    .text {
      font-family: var(--Montserrat);
      font-size: var(--size-xs);
      font-weight: var(--weight-md);
      line-height: 20px;
      text-align: left;
      color: var(--grootech__text__black);
    }
  }

  &__title {
    overflow: clip;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__black__shade--3);
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__heading {
    overflow: clip;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) + 2px);
    font-weight: var(--weight-lg);
    line-height: 25px;
    text-align: left;
    color: var(--grootech__text__black__shade--1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__tags {
    position: relative;
    margin-top: var(--span-s);
    list-style-type: none;
    display: flex;
    gap: var(--span-xs);
    flex-wrap: wrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &__tag {
    padding: var(--span-xs);
    font-family: var(--Montserrat);
    font-size: calc(var(--size-s));
    font-weight: var(--weight-md);
    line-height: 20px;
    text-align: left;
    border: 1px solid var(--grootech__black);
    border-radius: 20px;
    color: var(--grootech__text__black);
  }
}

// mobile edit menu
.edit {
  position: absolute;
  padding: var(--span-xs) 0;
  top: 0;
  width: 100%;
  background: var(--grootech__white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background 200ms cubic-bezier(0.35, 0, 0.65, 1) 0s !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px !important;

  &--hidden {
    display: none;
  }

  &__wrapper {
    display: flex;
  }

  &__paragraph {
    align-self: center;
    flex-grow: 1 !important;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-lg);
    line-height: 20px;
    text-align: center;
    color: var(--grootech__text__black);
  }

  &__container {
    margin-top: var(--span-xs);
    padding: 0 calc(var(--span-s) - 5px);
    margin-bottom: var(--span-s);
  }

  &__box {
    border: 1px solid rgb(221, 221, 221) !important;
    border-radius: 12px !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  }

  &__button {
    display: flex;
    background: transparent;
    padding-right: var(--span-xs);
    width: 100% !important;
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
    height: 50px;
    cursor: pointer;
    touch-action: manipulation;
  }

  &__wrap {
    display: flex;
    background: transparent;
    border-top: 1px solid var(--grootech__black__shade--8);
  }

  &__btn {
    flex: 0 0 50%;
    display: flex;
    cursor: pointer;
    touch-action: manipulation;
    height: 50px;
    background: transparent;
    padding-right: var(--span-xs);

    &:first-child {
      border-bottom-left-radius: 12px !important;
      border-right: 1px solid var(--grootech__black__shade--8);
    }

    &:last-child {
      border-bottom-right-radius: 12px !important;
    }
  }

  &__icon {
    align-self: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    flex-grow: 1 !important;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-lg);
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--grootech__text__black);
    height: 100% !important;

    &--light {
      font-weight: var(--weight-md);
      color: var(--grootech__text__black__shade--4);
    }

    span {
      align-self: center;
    }
  }
}
