@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/base";
@import "../base/reset";
@import "../base/typography";
@import "../base/utlities";

@import "../components/logo";
@import "../components/button";
@import "../components/card";

@import "../layout/grid";

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: var(--grootech__white);

  &__wrapper {
    @include __header__space__modified;
    display: flex;
    margin-right: calc(var(--span-xs) + 5px);
    justify-content: space-between;
  }
}

.options {
  align-self: center;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--grootech__input__focus);
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  padding: 0 calc(var(--span-xs) / 2);

  button {
    background: transparent;
    height: 48px;
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__gray);

    span {
      padding: 0 calc(var(--span-xs) + 5px);
    }
  }

  &__location {
    outline: none;
    border: none;
    cursor: pointer;
    padding-left: 8px;

    span {
      font-weight: var(--weight-lg);
      color: var(--grootech__text__grey);
    }
  }

  &__dates {
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__border {
    height: 24px;
    width: 1px;
    background: var(--grootech__input__focus);
  }

  &__rating {
    outline: none;
    border: none;
    cursor: pointer;
    padding-right: 8px;
    display: flex;
    align-items: center;
  }

  &__search {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--grootech__logo__text);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05) !important;
  border-radius: 20px;
  padding-left: var(--span-xs);
  padding-right: 5px;
  cursor: pointer;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--grootech__logo__text);
    margin-left: var(--span-s);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.section-results {
  position: relative;
}

.results {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 1920px) {
    grid-template-columns: 1fr 1.5fr;
  }

  @media only screen and (min-width: 1800px) {
    padding-left: 25px;
  }

  @media only screen and (max-width: 1799px) {
    padding-left: 25px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
  }

  &__content {
    padding-top: calc(var(--span-2xl) + var(--span-m) + 1px);
  }

  &__map {
    position: sticky !important;
    top: var(--navigation-bar-offset, 80px) !important;
    z-index: 1 !important;
    width: 100% !important;
    height: var(--grootech-placement-max-height, "auto") !important;
  }

  &__overview {
    margin-top: var(--span-m);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__grey);
  }

  &__policy {
    margin-top: var(--span-m);
    font-family: var(--Montserrat);
    font-size: var(--size-s);
    font-weight: var(--weight-sm);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__grey);
    padding-bottom: var(--span-s);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a {
      text-decoration: underline;
      color: var(--grootech__logo__text);
    }
  }

  &__list {
    margin-top: var(--span-s);
    list-style-type: none;
    display: grid;
    gap: 20px;
    margin-bottom: var(--span-m);
  }

  &__link {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__item {
    position: relative;
    padding-bottom: var(--span-s);
    display: flex;
  }

  &__button {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--grootech__input__focus);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
    z-index: 3;

    &:hover {
      background: var(--grootech__white);
      transform: scale(1.05);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 4px 12px rgba(0, 0, 0, 0.05) !important;
    }

    svg {
      width: 16px;
      height: 16px;
    }

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  &__controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 55px;
    overflow: clip;
  }

  &__dot {
    width: 6px;
    height: 6px;
    min-width: 6px;
    border-radius: 50%;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
    background: var(--grootech__white);
    opacity: 0.6;

    &--active {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__image-box {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    overflow-x: hidden;
    position: relative;
  }

  &__image {
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
    height: 200px;
    object-fit: cover;
  }

  &__details {
    flex-grow: 1;
    padding-left: var(--span-s);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__favourite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    .icon-favourite {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all 300ms;

      &:hover {
        background: var(--grootech__input__focus);
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__paragraph {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: left;
    color: var(--grootech__text__grey);
  }

  &__heading {
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-md);
    line-height: 28px;
    text-align: left;
    color: #3f2229;
  }

  &__tags {
    margin-top: calc(var(--span-xs) / 2);
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 360px;
  }

  &__tag {
    font-family: var(--Montserrat);
    font-size: var(--size-xs);
    font-weight: var(--weight-sm);
    line-height: 14px;
    text-align: left;
    color: var(--grootech__text__grey);
  }

  &__footer {
    display: flex;
  }

  &__reviews {
    display: flex;
    align-items: center;
  }

  &__review {
    .icon-review {
      color: var(--grootech__icon__red);
      svg {
        width: 16px;
        height: 16px;
        fill: var(--grootech__icon__red);
      }
    }
  }

  &__rating {
    margin-left: calc(var(--span-xs) / 2);
    font-family: var(--Montserrat);
    font-size: var(--size-m);
    font-weight: var(--weight-lg);
    line-height: 23px;
    text-align: left;
    color: var(--grootech__text__grey);
  }

  &__score {
    margin-left: calc(var(--span-xs) / 2);
    font-family: var(--Montserrat);
    font-size: calc(var(--size-m) - 1px);
    font-weight: var(--weight-sm);
    line-height: 20px;
    text-align: left;
    color: var(--grootech__text__grey);
  }
}
