.logo {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  &__image {
    margin-right: calc(var(--span-xs) + 5px);
    display: block;
    width: 48px;
    height: 48px;
  }

  &__text {
    background: linear-gradient(90deg, #552200 0%, #a55b28 135.12%) !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -ms-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    overflow: clip;
    font-family: var(--Montserrat);
    font-size: calc(var(--size-l) + 3px);
    font-weight: var(--weight-xxlg);
    line-height: 33px;
    text-align: left;
    color: var(--grootech__logo__text);
  }
}
