@import "../abstracts/mixins";

.logo {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }

  &__image {
    margin-right: calc(var(--span-xs) + 5px);
    display: block;
    width: 48px;
    height: 48px;
  }

  &__text {
    background: var(--logo__text__gradient);
    font-family: var(--Montserrat);
    font-size: calc(var(--size-l) + 3px);
    font-weight: var(--weight-xxlg);
    line-height: 33px;
    text-align: left;
    color: var(--g__logo__text);
    @include __text__clip;
  }
}
