.heading--primary {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-xl) + 4px);
  font-weight: var(--weight-xlg);
  line-height: 44px;
  text-align: center;
  color: var(--grootech__text__white);
}
