.heading--primary {
  font-family: var(--Montserrat);
  font-size: calc(var(--size-2xl));
  font-weight: var(--weight-xlg);
  line-height: 54px;
  text-align: center;
  color: var(--grootech__text__white);
}
