.u-h-100 {
  height: 100%;
}

.u-mb-sm {
  margin-bottom: var(--span-m) !important;
}

.u-flex {
  display: flex !important;
}

.u-w-full {
  flex: 0 0 100% !important;
}

.u-align-center {
  align-items: center !important;
}

.u-mt-sm {
  margin-top: var(--span-s) !important;
}

.u-mt-md {
  margin-top: var(--span-l) !important;
}

.u-mb-none {
  margin-bottom: 0 !important;
}

.u-hidden-md {
  @media only screen and (max-width: 990px) {
    display: none !important;
  }
}

.u-hidden-sm {
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}
