@mixin __section__space__top {
  padding-top: calc(var(--span-2xl) + var(--span-xs));
}

@mixin __section__space__bottom {
  padding-bottom: calc(var(--span-2xl) + var(--span-xs));
}

@mixin __section__space {
  padding-top: calc(var(--span-2xl) + var(--span-xs));
  padding-bottom: calc(var(--span-2xl) + var(--span-xs));
}

@mixin __section__header__gray {
  font-family: var(--Montserrat);
  font-size: var(--size-xl);
  font-weight: var(--weight-md);
  line-height: 43px;
  text-align: left;
  color: var(--grootech__header__gray);
}

@mixin __section__background($color) {
  background: $color;
}

@mixin __card__wrapper__ {
  margin-top: var(--span-l) !important;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

@mixin __card__ {
  max-width: calc(100% / 4 - 30px);
  flex: 0 0 calc(100% / 4 - 30px);
  border-radius: 10px;
  background: var(--grootech__white);

  @media only screen and (max-width: 1200px) {
    max-width: calc(100% / 3 - 30px);
    flex: 0 0 calc(100% / 3 - 30px);
  }
}

@mixin __header__space {
  padding: var(--span-xs) 0;
}

@mixin __header__space__modified {
  padding: var(--span-s) var(--navigation-space);
}
