:root {
  --unit: 10px;
  --Montserrat: "Montserrat", sans-serif;

  //font size

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  //spacing

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  //font weights

  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;

  //colors

  //color - white
  --grootech__white: #ffffff;
  --grootech__text__white: #ffffff;
  --grootech__background__white: #ffffff;

  //color - light gray
  --grootech__background__gray: #f8f8f8;
  --grootech__input__focus: #eeeeee;
  --grootech__shadow: #ebebeb;

  //color - brown
  --grootech__brown: #ce8339;
  --grootech__navigation__link__brown: #ce8339;
  --grootech__join__button__brown: #cd8136;
  --grootech__logo__text: #a55a28;
  --grootech__icon__brown: #a55a28;
  --grootech__text__brown: #a55a28;
  --grootech__text__brown__2: #ce8339;
  --grootech__text__brown__3: #cd8136;
  --grootech__button__brown: #ce8339;

  //color - gray
  --grootech__gray: #848484;
  --grootech__icon__gray: #848484;
  --grootech__text__gray: #848484;
  --grootech__header__gray: #848484;
  --grootech__border__gray: #848484;

  //color - black
  --grootech__black: #000000;
  --grootech__text__black: #000000;

  //color - grey
  --grootech__grey: #222222;
  --grootech__text__gray: #222222;

  //color - red
  --grootech__red: #ff385c;
  --grootech__icon__red: #ff385c;

  --grootech-placement-max-height: calc(
    100vh - var(--navigation-bar-offset, 80px)
  ) !important;

  --grootech__footer__background: #f7f7f7;

  --navigation-bar-offset: 91px;
  --navigation-space: 25px;
}
